[Unit]
Description=Routertools networking daemon
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=1s
ExecStart=/bin/sh /usr/bin/routertools -q --daemon-inet
LimitNPROC=64

[Install]
WantedBy=basic.target network.target
